<!-- mini_insta / rofile_feed.html -->
{% extends 'mini_insta/base.html' %}
{% load static %}

{% block content %}


<h2>{{ profile.display_name }}'s Feed</h2>

{% for post in object_list %}
    <div style="border:1px solid rgb(194, 11, 11); padding:10px; margin:10px;">
        <p>{{ post.message }}</p>
        <p><small>{{ post.created_at }}</small></p>

        {% if post.image %}
            <img src="{{ post.image.url }}" width="300">
        {% endif %}
    </div>
{% endfor %}

<p>{{ post.caption }}</p>

{% if user.profile != post.profile %}

    {% if user.profile in post.like_set.all %}
        <a href="{% url 'delete_like' post.pk %}">Unlike</a>
    {% else %}
        <a href="{% url 'like' post.pk %}">Like</a>
    {% endif %}

{% endif %}
{% endblock %}