<!-- mini_insta/show_all_profiles.html -->

{% extends "mini_insta/base.html" %}

{% block content %}

<h2 style="text-align:center;">Profile List</h2>

<div class="profile-grid">

{% for profile in profiles %}

<div class="profile-card">

<div class="profile-img">
<img src="{{ profile.profile_image_url|default:'https://i.pravatar.cc/150' }}">
</div>

<div class="profile-name">
{{ profile.username }}
</div>

<div class="profile-bio">
{{ profile.bio_text }}
</div>

<a href="{% url 'show_profile' profile.pk %}">
<button class="follow-btn">View Profile</button>
</a>

</div>

{% endfor %}

</div>

{% endblock %}